@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --primary-color: #b9ff66;
  --secondary-color: #191a23;
  --accent-color: #f3f3f3;
  --background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

body {
  background-color: var(--background-color);
  color: var(--secondary-color);
  padding: 40px 100px 0 100px;
}

/* General Styles */
section {
  margin-bottom: 150px;
}

a {
  text-decoration: none;
}

.section-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  margin-bottom: 50px;
}

.section-title {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-size: 32px;
  font-weight: 600;
  padding: 5px;
  border-radius: 10px;
}

.section-description {
  max-width: 55%;
  font-size: 18px;
  font-weight: 500;
}

/* Navbar Section */
nav {
  color: #000;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 50px;
}

.logo {
  width: 20px;
  height: 20px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 40px;
}

nav ul li a {
  color: var(--secondary-color);
  font-size: 16px;
  align-items: center;
}

nav ul li a:hover {
  font-weight: 600;
}

nav ul li button,
.get-started,
.service-cta-text button,
.team-cta button {
  border: 1px solid var(--secondary-color);
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 20px;

  cursor: pointer;
  transition: ease 0.5s;
}

nav ul li button:hover {
  color: var(--background-color);
  background-color: var(--secondary-color);
}

/* Hero Section */
.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.hero-content,
.hero-image {
  flex: 50%;
}

.hero-title {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero-subtitle {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.get-started,
.service-cta-text button,
.team-cta button {
  color: var(--background-color);
  background-color: var(--secondary-color);
  width: 50%;
}

.get-started:hover,
.service-cta-text button:hover,
.team-cta button:hover {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: var(--background-color);
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

/* Brands Section */
.brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.brands img {
  filter: grayscale(1);
  transition: ease 1s;
  width: fit-content;
  height: auto;
}

.brands img:hover {
  filter: grayscale(0);
}

/* Services Section */
.service-list {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: 310px;
  gap: 40px;
  margin-bottom: 50px;
}

.service-card {
  position: relative;
  max-width: 100%;
  height: auto;
  border-radius: 40px;
  background-color: var(--accent-color);
  padding: 40px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: 1px solid var(--secondary-color);
  box-shadow: 0 5px rgba(0, 0, 0);
}

.service-card:nth-child(1),
.service-card:nth-child(4) {
  background-color: var(--accent-color);

  .service-title span {
    background-color: var(--primary-color);
  }

  .learn-more {
    color: var(--secondary-color);
  }

  .arrow-north-east {
    color: var(--primary-color);
    background-color: var(--secondary-color);
  }
}

.service-card:nth-child(2),
.service-card:nth-child(5) {
  background-color: var(--primary-color);

  .service-title span {
    background-color: var(--background-color);
  }

  .learn-more {
    color: var(--secondary-color);
  }

  .arrow-north-east {
    color: var(--primary-color);
    background-color: var(--secondary-color);
  }
}

.service-card:nth-child(3n) {
  background-color: var(--secondary-color);

  .service-title span {
    background-color: var(--primary-color);
  }

  .learn-more {
    color: var(--primary-color);
  }

  .arrow-north-east {
    color: var(--secondary-color);
    background-color: var(--primary-color);
  }
}

.service-item,
.service-icon {
  flex: 100%;
}

.service-title {
  margin-bottom: 20px;
}

.service-title span {
  display: block;
  font-size: 28px;
  font-weight: 500;
  border-radius: 10px;
  max-width: fit-content;
  padding: 5px;
}

.learn-more {
  position: absolute;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 500;
}

.arrow-north-east {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  font-size: 32px;
  font-weight: 600;
  transition: transform 0.3s ease;
}

.service-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.service-icon img {
  max-width: 100%;
  height: auto;
}

.service-cta {
  background: var(--accent-color);
  max-width: 100%;
  height: 320px;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  z-index: 1;
}

.service-cta-text h3 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

.service-cta-text p {
  font-size: 18px;
  font-weight: 500;
  max-width: 70%;
  margin-bottom: 20px;
}

.service-cta button {
  max-width: 40%;
}

.service-cta-icon img {
  max-width: 100%;
  height: auto;
}

/* Use Cases Section */
.use-case-list {
  max-width: 100%;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  padding: 70px;
  border-radius: 40px;
  display: flex;
}

.use-case-item {
  border-right: 1px solid var(--accent-color);
  padding: 0 40px;
  width: 33%;
}

.use-case-item:last-child {
  border-right: none;
}

.use-case-item p {
  margin-bottom: 20px;
}

.use-case-item a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary-color);
  font-size: 20px;
}

/* Working Process Section */
details {
  border: 1px solid var(--secondary-color);
  background-color: var(--accent-color);
  border-radius: 40px;
  padding: 50px;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease;
  margin-bottom: 40px;
}

summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  font-size: 28px;
  color: var(--secondary-color);
  cursor: pointer;
  list-style: none;
  position: relative;
}

details > summary > span {
  font-size: 48px;
  font-weight: 600;
  color: var(--secondary-color);
  padding: 0 10px 0 0;
}

summary::after {
  content: "+";
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--secondary-color);
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border-radius: 50%;
  padding: 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  font-size: 40px;
  font-weight: 600;
  transition: transform 0.3s ease;
}

details[open] {
  background-color: var(--primary-color);

  summary {
    margin-bottom: 40px;
  }
}

details[open] summary::after {
  content: "-";
}

details p {
  padding-top: 40px;
  font-size: 18px;
  color: var(--secondary-color);
  border-top: 1px solid var(--secondary-color);
}

/* Team Section */
.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.team-card {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.card-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}

.team-linkedin {
  position: absolute;
  right: 0;
  top: 0;
}

.team-linkedin img {
  max-width: 100%;
  height: auto;
}

.card-head span {
  margin-top: 40px;
  font-family: 28px;
}

.card-head h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.team-cta {
  float: right;
  text-align: right;
  margin-top: 20px;
  width: 50%;
}

/* Testimonials Section */
.testimonial-list {
  max-width: 100%;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  padding: 60px 0;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.testimonial-card .quote {
  background: url("/assets/img/Bubble.png") no-repeat;
  background-size: cover;
  width: 100%;
  padding: 30px;
  font-size: 12px;
}

.testimonial-card h3,
.testimonial-card h3 + p {
  font-size: 14px;
  margin-left: 50px;
}

.testimonial-card h3 {
  color: var(--primary-color);
}

/* Contact Section */
.contact-content {
  max-width: 100%;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  background-image: url("/assets/img/Illustration (1).png");
  background-repeat: no-repeat;
  background-position: 800px;
  padding: 100px 0 100px 100px;
  border-radius: 40px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  width: 55%;
}

.radio-group {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 40px;
}

.radio {
  display: flex;
  align-items: center;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border: 1px solid var(--secondary-color);
  background-color: var(--background-color);
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  margin-right: 10px;
  position: relative;
}

input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: var(--primary-color); /* Red inner circle */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

.form-group input {
  width: 100%;
  height: 50px;
  font-size: 18px;
  border-radius: 20px;
  border: 1px solid var(--secondary-color);
  padding: 20px;
}

textarea {
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  border: 1px solid var(--secondary-color);
  padding: 20px;
  resize: none;
}

.submit-button {
  border: none;
  border-radius: 20px;
  padding: 20px;
  cursor: pointer;
  transition: ease 0.5s;
  color: var(--background-color);
  background-color: var(--secondary-color);
  font-size: 18px;
  font-weight: 500;
}

.submit-button:hover {
  background-color: var(--background-color);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

/* Footer Section */
footer {
  max-width: 100%;
  height: 500px;
  border-radius: 40px 40px 0 0;
  background-color: var(--secondary-color);
  padding: 50px;
}

.footer-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}

.logo {
  justify-self: center;
}

.footer-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-menu li a {
  color: var(--accent-color);
  font-size: 18px;
  text-decoration: underline;
}

.footer-socials {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.footer-contact {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--accent-color);
  margin-bottom: 40px;
}

.footer--contact {
  display: block;
  flex: 100%;
}

.footer--contact h3 {
  font-size: 24px;
  font-weight: 600;
  background-color: var(--primary-color);
  width: fit-content;
  padding: 5px;
  color: var(--secondary-color);
  border-radius: 10px;
  margin-bottom: 20px;
}

.footer--contact p,
.footer--contact p a {
  color: var(--accent-color);
}

.footer--contact p {
  margin-bottom: 20px;
}

.footer-legal {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.footer-legal p,
.footer-legal a {
  color: var(--accent-color);
}

.footer-legal a {
  text-decoration: underline;
}

.subscribe-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 40px;
  border: none;
  background-color: #292a32;
  border-radius: 20px;
  flex: 100%;
}

.subscribe-form input {
  width: 50%;
  height: 65%;
  padding: 20px;
  background-color: #292a32;
  border: 1px solid var(--accent-color);
  border-radius: 20px;
  color: var(--accent-color);
}

.subscribe-form input::placeholder {
  color: var(--accent-color);
  font-size: 16px;
}

.subscribe-form input[type="submit"] {
  width: 50%;
  height: 65%;
  padding: 20px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 20px;
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.subscribe-form input:focus {
  color: var(--accent-color);
  outline: none;
}
