@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}

body {
    padding: 10px 100px;
}

nav {
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 30px;
    height: 30px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li {
    font-size: 16px;
    align-items: center;
}

/* div {
  margin: 2rem auto;
  padding: 1rem;
}
details {
  border: 1px solid #c2bff7;
  border-radius: 10px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease;
}
summary {
  font-weight: 500;
  font-size: 16px;
  color: #3f3d56;
  cursor: pointer;
  list-style: none;
  position: relative;
  padding-right: 1.5rem;
}

summary::after {
  content: "+";
  position: absolute;
  right: 0;
  font-size: 20px;
  transition: transform 0.3s ease;
}

details[open] summary::after {
  content: "-";
}

p {
  margin-top: 0.5rem;
  font-size: 14px;
  color: #555;
} */